:root {
    --bg-color: rgb(41, 41, 41);
    --primary-text-color: white;
    --post-bg-color: rgb(73, 73, 73);
    --secondary-text: gray;
    --btn-hover: rgb(30, 30, 30);
    --btn-active: rgb(18, 18, 18);
}

.light-mode {
    --bg-color: rgb(255, 255, 255);
    --primary-text-color: black;
    --post-bg-color: rgb(224, 224, 224);
    --secondary-text: rgb(75, 75, 75);
    --btn-hover: rgb(221, 221, 221);
    --btn-active: rgb(201, 201, 201);
}

.btn-mode {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--post-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

.btn-mode svg{
    fill: var(--primary-text-color);
}

.btn-mode svg:last-child{
    display: none;
}

.light-mode .btn-mode svg:first-child{
    display: none;
}

.light-mode .btn-mode svg:last-child{
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-color);
}

/* BUGFIX: H1 is 100vh. We want it smaller */
h1 {
    display: flex;
    align-items: center;
    font-style: italic;
}

h1 img {
    height: 100px;
    width: 100px;
    vertical-align: middle;
    margin: -40px 0px;
}

.navbar {
    justify-self: center;
}

.filters-section {
    margin: 15px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filters-section button {
    padding: 7px 18px;
    font-size: medium;
    font-weight: 600;
    max-height: 34px;
    white-space: nowrap;
    background-color: var(--bg-color);
    color: var(--primary-text-color);
    border: 1px solid gray;
    border-radius: 0.6em;
    margin: 4px 2px;
}

.filters-section button:hover {
    background-color: var(--btn-hover);
    cursor: pointer;
}

.filters-section button:active {
    background-color: var(--btn-active);
}

.filters-section button.btn-active {
    border: 2px solid var(--primary-text-color);
    /* background-color: rgb(18, 18, 18); */
}

h1 {
    color: var(--primary-text-color);
    margin: 25px 10px;
    cursor: pointer;
}

.posts-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 580px;
    min-width: 300px;
    margin: 0 auto;
    width: 100%;
}

.post {
    border-radius: 15px;
    border: 1px solid gray;
    padding: 5px 20px;
    background-color: var(--post-bg-color);
    margin: 8px 5px;
}

.post:hover {
    border: 1px solid var(--primary-text-color);
}

.post-header {
    display: flex;
    justify-content: space-between;
}

.pfp-img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    object-fit: cover;
    padding: 5px;
}

.header-info {
    display: flex;
}

.names {
    padding: 5px;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(61, 24, 24);
    font-size: small;
    background-color: white;
    font-weight: 500;
    border-radius: 0.5em;
    padding: 0.25em;
    height: 20px;
}

.social-media p {
    color: rgb(61, 24, 24);
    margin: 0px 3px;

}

.social-media img{
    width: 15px;
    height: 15px;
}

.tag {
    font-size: small;
    color: white;
    font-weight: bold;
    background-color: red;
    border-radius: 3em;
    padding: 0.25em;
}

.post-name {
    color: var(--primary-text-color);
    font-weight: bold;
    margin: 5px 0px;
}

.at-name {
    color: var(--secondary-text);
    font-size: small;
    margin: 5px 0px;
}

.post-text {
    color: var(--primary-text-color);
    margin: 10px 0px;
}

.footer-section {
    color: var(--secondary-text);
    font-size: 0.95em;
    display: flex;
    justify-content: space-between;
}

.reactions {
    display: flex;
}

.reactions p {
    margin: 3px 5px;
}

.time {
    margin: 3px;
}

#no-posts {
    color: var(--primary-text-color);
    font-size: large;
    font-weight: bold;
    text-align: center;
}

@media (width <= 1430px){
    .filters-section {
        flex-wrap: wrap;
    }

    .filters-section button {
        width: 32%;
    }

}